:root {
    --primary-color: #D9D6D6;
    --secondary-color: #24b7b7;
    --tertiary-color: #5a215a;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  body styles  */
body {
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: var(--tertiary-color);
}

a {
    color: inherit;
    text-decoration: none;    
}

/* header styles */
header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
}

header nav {
    margin: 10px 10px;
}

header nav ul li {
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: 20px;
    display: inline;
    margin: 10px;
}

footer {
    background: var(--secondary-color);
    width: 100%;
    padding: 20px 10px;
}




