* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  body styles  */
body {
    background-color: rgb(217, 214, 214);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color:#5a215a;
}


/* header styles */
header {
    background-color: #24b7b7;
}

header h1 {
    font-weight: bold;
}



a {
    color: inherit;
}