:root {
    --primary-color: #f7f0e7;
    --secondary-color: #24b7b7;
    --tertiary-color: #5a215a;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  body styles  */
body {
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

h2, h3 {
    color: var(--tertiary-color);
}

a {
    color: inherit;
    text-decoration: none;    
}

/* header styles */
header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold; 
    color:antiquewhite;
}

header nav {
    margin: 10px 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color:antiquewhite;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
}
/*  header styles end  */

/*  footer styles  */
footer {
    background: var(--secondary-color);
    width: 100%;
    padding: 20px 10px;
}

footer h3 {
    color: antiquewhite;
}
/* footer styles end  */

/*  hero styles  */
.hero {
    background-image: url('../images/woven3.jpg');
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}





